.product{
    display: flex;
    border-bottom: solid 1px lightblue;
    margin-bottom: 5px;
    
}
.product-img{
    margin: 15px;
}
.product-detail{
    margin-bottom: 10px;
}
.product-detail h3{
    color: blue;
    font-weight: 400;
   
}
.mainBtn{
    background: goldenrod;
    width: 150px;
    padding: 10px 0;
    border: solid 1px #dad045;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    
}